.skills-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 50px;
}

.skills-section {
    margin-top: 40px;
  }
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: inherit;
    max-width: 332px;
  }
  
  .skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
    width: 25%;
  }

  .skills-text{
    color: white;
    text-align: left;
  }

  .skills-text p{
    color: white;
  }
  
  .skill-icon {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .skill-name {
    font-size: 14px;
    color: white;
  }
  
  @media (max-width: 768px) {
    .skills-list {
      justify-content: flex-start;
      padding-left: 17px;
    }
  }
  
